@media screen and (max-width:780px) {
    .containertab1 {
        margin-top: 150px!important;
        text-align: center;
    }
}

.wrapper-1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.wrapper-2 {
    padding: 30px;
    text-align: center;
}

.wrapper-2 p {
    margin: 0;
    font-size: 1.3em;
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
}

.go-home {
    color: #fff;
    background: #5892FF;
    border: none;
    padding: 10px 50px;
    margin: 30px 0;
    border-radius: 30px;
    text-transform: capitalize;
    box-shadow: 0 10px 16px 1px rgba(174, 199, 251, 1);
}

.footer-like {
    margin-top: auto;
    background: #D7E6FE;
    padding: 6px;
    text-align: center;
}

.footer-like p {
    margin: 0;
    padding: 4px;
    color: #5892FF;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
}

.footer-like p a {
    text-decoration: none;
    color: #5892FF;
    font-weight: 600;
}

.newbutton2 {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: .2rem;
    margin-right: .2rem;
    cursor: pointer
}

.newbutton1 {
    color: #fff;
    background-color: #17a2b8;
    border: 1px solid #17a2b8;
    padding: .375rem .75rem;
    border-radius: .25rem;
    font-weight: 400
}

.toolbars {
    padding: .8rem
}

.toolbars>.btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: .2rem;
    margin-right: .2rem;
    cursor: pointer
}

.toolbars>.btn.disabled,
.toolbars>.btn:disabled {
    opacity: .65
}

.containertab1 {
    /* margin-top: 100px!important; */
    text-align: center;
}

.containertab2 {
    text-align: center;
}